<h1 mat-dialog-title>Add element</h1>
<div mat-dialog-content>
 
    <form [formGroup]="mountainForm">
        <mat-form-field>
            <input matInput placeholder="Masiv" formControlName="masiv">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Plecare" formControlName="plecare">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sosire" formControlName="sosire">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lungime" formControlName="lungime">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Diferenta nivel" formControlName="diferentaNivel">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data" formControlName="data">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="mountainForm" [disabled]="mountainForm.invalid" cdkFocusInitial>Ok</button>
</div>