

<mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="masivSearchValue">
    <button mat-button *ngIf="masivSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearMasivlSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <button mat-raised-button (click)="searchByMasiv()">Search</button>
  <mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8" >
      <ng-container matColumnDef="masiv">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Masiv montan </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.masiv}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="plecare">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Punct plecare </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.plecare}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="sosire">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Punct sosire </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sosire}} </mat-cell>
      </ng-container>
    
      
      <ng-container matColumnDef="lungime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Lungime </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lungime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="diferentaNivel">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Diferenta Nivel </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.diferentaNivel}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
              <button mat-raised-button color="warn" (click)='onDelete(element)'>Delete</button>
          </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)='onRowClick(row)' 
      [style.border-bottom]= "
      row.diferentaNivel<500 ? '5px solid green' : '' ||
      (row.diferentaNivel>=500 && row.diferentaNivel<=1000) ? '5px solid yellow' : ''||
      row.diferentaNivel>1000 ? '5px solid red' : ''"
      [style.border-top]="
      row.diferentaNivel<500 ? '5px solid green' : '' ||
      (row.diferentaNivel>=500 && row.diferentaNivel<=1000) ? '5px solid yellow' : ''||
      row.diferentaNivel>1000 ? '5px solid red' : ''
      "></mat-row>
    </mat-table>    
    <br>
  
    <button mat-fab color="primary" (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <div align="middle">
      <button mat-raised-button color="warn" (click)="onLogOut()">Log out</button>
    </div>
    